[2016-04-19 21:57] natesilva opened #1 "Don’t use Cmd+H as the Dash shortcut (breaks system Hide function)"
The shortcut <kbd>Cmd</kbd>+<kbd>H</kbd> is the Mac’s system shortcut to hide the current window. The Dash extension should use a different key combo. ([Don’t be like Photoshop!](http://daringfireball.net/linked/2008/06/02/nack))

Instead, consider using <kbd>Ctrl</kbd>+<kbd>H</kbd>. That’s the shortcut used by the Dash plugins for both [Sublime Text](https://github.com/farcaller/DashDoc#readme) a

[2016-05-04 16:31] deerawan commented on #1
Hi @natesilva

Thank you for your suggestion. You are correct, these shortcuts are more make sense to use. I have updated the extension to version 1.1.1 which support the shortcuts.

[2016-05-04 16:31] #1 closed

[2016-05-05 19:50] natesilva commented on #1
Works great. Thanks!

[2016-10-09 10:07] kraklin opened #3 "On Ctrl+H it searches on all languages, not the currently used one"
On MacOS Sierra, when I hit ctrl-H it runs dash, but the search shows all languages.

[2016-10-13 15:01] deerawan commented on #3
Hi @kraklin

Will note the about this issue. I haven't upgraded my OS to Sierra due to some incompatible softwares like office and screenflow in my end.

Thank you

[2016-10-13 16:03] kraklin commented on #3
It's just a minor issue. :) Keep up great work on this plugin ;)

[2016-11-20 14:02] AlexChesters opened #4 "vscode-dash doesn't detect React as Javascript"
If I am inside a `.js` file and I call `ctrl+h` it correctly searches in Javascript.
If I am inside a `.jsx` file and I call `ctrl+h` it searches dash as a whole rather than specifically Javascript.

[2016-11-30 22:42] nikitavoloboev opened #5 "Doesn't work with VS Code Vim plugin"
I tried using ctrl + h to trigger dash search, it didn't do anything.

Is there any way to fix this? I would also like to remap this hotkey for searching. How can I do that?

Thank you for making this great extension.

[2016-12-14 12:30] jordykoppen opened #6 "Doesn't work at all on my macbook"
Hey deerawan,

For some reason Dash doesn't work at all on my Macbook Pro (Sierra 10.12.1) for whatever reason..
Im on VSCode version 1.7.2, when I press ctrl + h or ctrl + alt + H nothing pops up.

Im using it together with the following extensions:
Babel ES6/ES7
ESLint
generate-react-component
jsx
Material-theme
React Redux ES6 Snippets
react-beautify
vscode-icons

I tried using it in JS, CSS an

[2016-12-17 07:40] deerawan commented on #6
@jordykoppen Hi jordy, thank you for submitting the issue.

I have tested in Sierra too, it works well. Probably, it got a conflict with other plugins. My suggestion to find the source of problem is to uninstall one by one the plugins you have.

[2016-12-17 07:40] deerawan commented on #5
Hey @nikitavoloboev,

Thank you for submitting the issue.

Does it work without vim plugin?

[2016-12-17 07:41] deerawan commented on #4
@AlexChesters Hey alex, I think I know the source of problem. It is because the configuration of javascript in dash doesn't include `.jsx` extension. I'm going to fix it.

Thank you for submitting the issue. 👍

[2016-12-17 07:42] deerawan commented on #3
@kraklin Hi Kraklin,

Do you remember the extension of file that you were searching in?

[2016-12-17 20:32] nikitavoloboev commented on #5
Actually ctrl + h works for searching dash but it searches globally and does not scope the result to what file I am currently editing.

I am not using ctrl + alt + h.

[2016-12-17 23:12] deerawan commented on #5
@nikitavoloboev thanks for your response 😊

What file extension were you editing?

[2016-12-17 23:16] nikitavoloboev commented on #5
An html file.

[2016-12-18 19:43] kraklin commented on #3
Hi,
it was Elm or Javascript. I tried them both now, JS is opening the right search within JS docs, although it is not searching for array.fill on [].fill(). It searched for animation something .fill method. But this is not the problem of plugin, dash behaves the same when I try to search it for myself.

Elm goes right to Google search inside Dash.

[2016-12-19 14:44] deerawan commented on #4
it is fixed in latest version of vscode-dash `v1.2.0`.

@AlexChesters Let me know if you still have same problem.

[2016-12-20 14:00] deerawan commented on #3
Hi @kraklin

I just released v1.3.0 that supports elm. 🎉 🎉
https://marketplace.visualstudio.com/items?itemName=deerawan.vscode-dash

Make sure you install elm vscode plugins first
https://marketplace.visualstudio.com/items?itemName=sbrink.elm

Let me know if it solves your issue 😃

[2016-12-20 14:02] deerawan commented on #5
@nikitavoloboev
Maybe you can try to change your keyboard shortcut. I've added doc how to change it.
https://github.com/deerawan/vscode-dash#change-keyboard-shortcut

Let me know if the problem still persists 👍

[2016-12-21 10:11] qcol opened #7 "Is it possible to make it work with Zeal?"

[2016-12-21 12:50] deerawan commented on #7
Hi @qcol

no, it doesn't support Zeal. They are different softwares 😄

[2016-12-21 13:17] qcol commented on #7
I know it, so I asked if is it possible to **make to work** ;)

[2016-12-22 13:15] #7 closed

[2017-01-13 08:09] #3 closed

[2017-01-13 08:09] #4 closed

[2017-01-13 08:10] #5 closed

[2017-01-13 08:10] #6 closed

[2017-01-13 08:13] kraklin commented on #3
Hi, I totally forgot to mention that... It works!!! :champagne: 👍

Thank you

[2017-01-14 05:52] deerawan commented on #3
glad to hear that 👍

[2017-01-26 15:56] qcol commented on #7
By the way... Velocity is also different soft, but one addon for Atrom works with all Velocity, Dash and Zeal :)  https://atom.io/packages/dash

[2017-03-05 12:04] thadjbullet opened #9 "Dash plugin doesn't work on mac os Sierra & VSCode 1.10.1 || 1.11.0"
Hi. When i'm use ctrl+h it's show me this "warning" popup. I tried on various types of files with the same result. Change hotkeys does not change anything.
Thanks!
![2017-03-05_14-55-45](https://cloud.githubusercontent.com/assets/17276356/23587031/e8fb53d4-01b3-11e7-9651-7fa6a2460286.png)

[2017-03-06 11:49] deerawan commented on #9
Hi @thadjbullet, interesting case, I use Sierra and VSCode 1.10.1 too and don't get this problem. What VSCode Dash version do you use? Have you tried to reinstall the plugin?

[2017-03-06 19:11] thadjbullet commented on #9
Yep, several times. Right now I update plugin to 1.4.0 and have the same issue.

[2017-03-06 22:08] deerawan commented on #9
@thadjbullet do you encounter same problem with other plugins? Have it worked in previous version?

[2017-03-11 05:30] thadjbullet commented on #9
@deerawan The issue is solved. The problem was with the plugin vscode-icons.

[2017-03-11 09:23] deerawan commented on #9
@thadjbullet sweet 👍

[2017-03-11 09:23] #9 closed

[2017-05-09 21:19] szhongren opened #11 "Edge case for Zeal on Windows"
When calling the extension from within VS Code and it's the first time starting Zeal after a fresh start of Windows, the same problem that was fixed with the `start dash-plugin:// && ...` occurs again. Not really sure how to go about dealing with this, but I'll start trying to figure it out. I think it's something on Zeal's end.

[2017-06-14 22:52] szhongren commented on #11
Fix is coming with next release of Zeal. Also handles the `start dash-plugin:// && start` stuff. Turned out to be a Qt bug.

[2017-06-19 12:15] deerawan commented on #11
@szhongren cool 👍

[2017-08-13 14:48] srinivasdamam commented on #6
I'm also facing the same issue, is there any way to change the key mapping ? I mean instead `ctrl + h` I would like to use something else.

[2017-08-14 11:21] deerawan commented on #6
Hi @srinivasdamam interesting you had same problem. Take a look at the readme here https://github.com/deerawan/vscode-dash#change-keyboard-shortcut.

[2017-09-13 13:31] weifding opened #14 "mistake title description"
In Package.json

I think it should be "Open Dash for current language documentation"
When press F1,and text "dash" in command input box, this decription confused me....

[2017-10-01 10:54] David-Else opened #15 "Searches everything possible instead of in the correct language using latest Zeal and Vscode"
Hello,

I am using the latest Zeal 0.40 and Vscode 1.16.1.

When I am editing in Javascript language, I put the cursor over a keyword,  for example var, and press ctrl-h , and this appears in the Zeal search box:

`javascript,jquery,jqueryui,jquerym,react,angularjs,backbone,marionette,meteor,sproutcore,moo,prototype,bootstrap,foundation,lodash,underscore,ember,sencha,extjs,titanium,knockout,zepto,

[2017-10-03 07:14] deerawan commented on #15
Hi @David-Else, thank you for your question.

This is expected behaviour. Zeal follows Dash when searching in documentation. For javascript ( extension `.js`), it will try to look in documentation based on the `file type<>docset` mapping. The default docset mapping for javascript file type is like the one you put

[code]
The mapping above based on the Dash author mapping here https://kapeli.com/da

[2017-10-03 07:15] deerawan commented on #14
Thank you @weifding for your feedback. Seems your suggestion is better. Will change the text in the next version. 👍

[2017-10-04 10:51] David-Else commented on #15
**Thanks!!**

I get it now, I just got rid of all that nonsense by adding:

`"dash.docset.javascript": [
        "javascript"
    ]`

to my Vscode setting.

Brilliant add-on, thanks for making it work with Linux's Zeal, much appreciated. :heart_eyes:

[2017-10-04 10:52] #15 closed

[2017-10-08 14:58] deerawan commented on #15
@David-Else you're welcome 👍

[2017-10-21 23:09] deerawan commented on #14
Solves in https://github.com/deerawan/vscode-dash/pull/13

[2017-10-21 23:09] #14 closed

[2017-11-01 11:41] deerawan opened #17 "Configure Wallaby"
configure Wallaby js

[2017-11-03 11:39] #17 closed

[2017-11-04 17:26] nikitavoloboev opened #19 "How to search selection only in the profile currently active?"
For example I have a profile active that searches through Go and some specified go libraries like so :

![2017-11-04 at 18 25](https://user-images.githubusercontent.com/6391776/32407741-93b1bba8-c18d-11e7-9e48-c6e63f40fa92.png)

Can you please add action that will search selection only in the currently active profile?

Thank you.

[2017-11-10 11:34] Darcy-FzR commented on #11
1. environment：win10, zeal 0.4.0(current latest), vscode 1.17.2
2. error: start dash-plugin://  “can't find application”

[2017-11-11 03:01] genotrance opened #20 "No longer installs on Windows VSCode 1.17-insider"
Just stuck on Installing...

[2017-11-23 21:04] eamigo86 commented on #11
@Darcy-FzR, I have same error !!!!

[2017-11-23 21:11] szhongren commented on #11
@Darcy-FzR @eamigo86 what happens when you try running `start dash-plugin://' on the command line?

[2017-11-23 21:25] szhongren commented on #11
I just upgraded and got it too, it seems to be a change in how zeal is installed, it's not registering zeal as a handler for the dash-plugin URI. I'll take a look

[2017-11-23 21:33] szhongren commented on #11
@Darcy-FzR @eamigo86 go to where your zeal executable is installed and run `zeal --register`

[2017-11-23 21:35] szhongren commented on #11
I can add some code to automatically in this extension, but it's going to be fragile unless we have a new setting to specify the Zeal install location.

[2017-11-28 09:32] deerawan commented on #19
Hi @nikitavoloboev

Interesting. I will have a look at this.

[2017-11-29 11:04] deerawan commented on #20
Hi @genotrance

How about in VSCode 1.18? Do you find same issue?

[2017-12-04 17:35] genotrance commented on #20
Worked on 1.18.1 release on Ubuntu.

[2017-12-04 17:35] #20 closed

[2017-12-23 02:50] nach00 opened #24 "Does not detect language currently in use"
Hi,

I was using Zeal in Sublime Text 3 before, and when I hit F1, it automatically searched for the syntax in the programming language set for the document. For example:
I will be coding in a Ruby (.rb) document, and hit F1 on "class". This pulls up ruby:class documentation automatically. When I switched to a Python document, it does so for this automatically as well.
Does your extension have a f

[2017-12-25 07:35] deerawan commented on #24
Hi @nach00,

I'm afraid you need install language plugin for Ruby first in VS Code. https://marketplace.visualstudio.com/items?itemName=rebornix.Ruby. So, VS Code can support this language. Try to install it and re-test the Dash again.

[2018-02-23 15:51] Yanpas opened #25 "Custom file formats"
I use gdscript language. Please add a way to register custom file extensions. Something like:
[code]

[2018-02-24 10:07] deerawan commented on #25
Hi @Yanpas,

I'm not sure that will work in vs code `configuration` field in `package.json`. Alternatively, we can add support for `gdscript` as I check that the extension is exist for it https://marketplace.visualstudio.com/items?itemName=jjkim.gdscript

What do you think?

[2018-02-24 10:13] Yanpas commented on #25
Good option, but there is no official godot docset. On the other hand I doubt that it can be named other "godot"

[2018-02-24 10:31] deerawan commented on #25
@Yanpas ah yes, you're right. There is no godot docset for Dash. Perhaps you can try to contribute there https://kapeli.com/docsets

[2018-03-13 12:03] deerawan opened #26 "Add Terraform support"
Extension Link
https://marketplace.visualstudio.com/items?itemName=mauve.terraform

[2018-04-06 05:26] kogent commented on #26
I have that extension installed and am able to press ctrl-h on a resource or datasource definition and have it correctly look up the Terraform user contributed docset.

[2018-04-06 05:38] kogent commented on #25
It seems like as long as the language is set in vscode and there is a matching dash key then it works, if not then you have to setup a dash.docset.lang definition that maps to a key in dash.

The only problem I've seen here is that the settings.json validation complains with `Unknown Configuration Setting` warnings if the lang definition is one that not part of the default set.

eg- I have ansible

[2018-04-06 11:33] deerawan commented on #26
@kogent did you add anything to `settings.json`?

[2018-04-10 07:32] kogent commented on #26
Here's a gist of my settings.json:
https://gist.github.com/kogent/a7b3658d7b611d78823e27b68214f1da

[2018-04-10 12:58] deerawan commented on #26
@kogent thank you for sharing the file.

Yes, the plugin can detect the docset based on your `settings.json`. 👍

[2018-04-10 13:30] #26 closed

[2018-04-10 13:49] deerawan commented on #24
Issue is closed since no further response 😄

[2018-04-10 13:49] #24 closed

[2018-04-10 13:52] deerawan opened #28 "Add ansible support"
Extension
https://marketplace.visualstudio.com/items?itemName=haaaad.ansible

[2018-04-25 11:50] #28 closed

[2018-05-04 12:45] Yanpas opened #30 "C language is not recognized"
I have C source code file and Zeal doesn;t search over all C docs

[2018-05-25 06:05] y-usuzumi commented on #1
@deerawan Request reopen this issue.

For Linux (not so sure about Windows though), Ctrl + H is the default key binding for "Replace" (`editor.action.startFindReplaceAction`), and Ctrl + Shift + H is for "Replace in files" (`workbench.action.replaceInFiles`), which are both very fundamental and frequently used default key bindings.

I think it might be better to use something else.

[2018-06-27 15:57] xlinshan opened #31 "Ctrl + H Fails to Work for Java File"
My environment is VSC 1.24.1 on macOS 10.13.5, with the Java Language Support extension installed.

Pressing ctrl + h has no response, but ctrl + alt + h, ctrl + shift + h, and alt + h do work as descripted in the document.

[2018-06-27 16:01] xlinshan commented on #31
It turns out that there were other actions already bound to ctrl + h by the vim extension.

[2018-07-20 12:11] Yanpas commented on #30
CMake files are not supported too

[2018-08-02 12:45] nikitavoloboev opened #33 "`dash.docset.` settings do not work"
I added this to my `settings.js` file:

[code]

Assuming that it will only search these two docsets when you run the Dash hotkey in `.ts` files but that did nothing. It still searches through all these docsets:

![2018-08-02 at 14 45](https://user-images.githubusercontent.com/6391776/43584453-b51257e4-9662-11e8-976a-c211d36f941c.png)

Is this a bug? Or I did something wrong?

[2018-08-05 03:38] deerawan commented on #33
Hi @nikitavoloboev

I also can reproduce your issue. I threw a question to the Dash developer regarding this. Will keep you posted.

Thank you

[2018-08-05 03:44] deerawan commented on #19
@nikitavoloboev I threw a question about this one too to Dash developer. Seems like there is no support for this from them literally.

[2018-08-05 03:45] deerawan commented on #30
Hi @Yanpas,

Thank you for posting the issues.

@szhongren could you reproduce the issue in Zeal?

[2018-08-05 03:50] deerawan opened #35 "Add support to search based on file extension"
## Example
for `docker.yaml`, it will search only in docker docset

## Configuration
[code]

[2018-08-05 03:51] deerawan opened #36 "Add integration with Velocity Doc"
## Overview
Beside Dash and Zeal, we would love to add integration with Velocity http://velocity.silverlakesoftware.com

[2018-09-12 12:48] mesa123123 opened #37 "Extension not passing query data through to zeal unless zeal is already opened"
**System info:**
_OS:_
Windows 10
_Vs info:_
Version: 1.27.1 (user setup)
Commit: 5944e81f3c46a3938a82c701f96d7a59b074cfdc
Date: 2018-09-06T09:21:18.328Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

**Steps to reproduce:**

1. Open visual studio code;
2. Open an editor with javascript text
3. Select any js code that would appear in the language docs (e.g.

[2018-10-06 06:07] deerawan opened #39 "Setup auto close for issues that has no longer got response from the author"
## Overview
Some issues in this repository haven't got any response back from the author. We would love to close them automatically.

## Requirement
- Use this github app https://github.com/probot/no-response
- Close issues marked with label **needs more info**
- Number of days of inactivity to close the issue: 15

## Todo
- [ ] Installed github app no-response (I have done this part)
- [ ] Create

[2018-10-06 10:35] #25 closed

[2018-10-06 10:35] #35 closed

[2018-10-06 10:39] deerawan commented on #31
@xlinshan you can change dash keyboard shortcut to something else
https://github.com/deerawan/vscode-dash#change-keyboard-shortcut

I'll close this ticket and will consider whether we want to change the default shortcut.

Thank you @xlinshan 👍

[2018-10-06 10:39] #31 closed

[2018-10-07 07:30] deerawan opened #41 "Upgrade husky to new version"
## Overview
Currently we use [husky](https://github.com/typicode/husky) `0.14.3`, we want to upgrade to the latest version `1.1.1`

[2018-10-07 07:46] cmygray commented on #41
I'll take it

[2018-10-09 22:26] michaeljota opened #43 "Support to lookup Angular built-in directives"
When looking for an Angular directive, the search goes about the tag as it would be an html tag. However, it would be nice if this could recognize that its an Angular directive and lookup as such.

For: `<router-outlet></router-outlet>`

Result: `html,svg,css,bootstrap,foundation,awesome,statamic,javascript,jquery,jqueryui,jquerym,angularjs,backbone,marionette,meteor,moo,prototype,ember,lodash,und

[2018-10-10 11:44] nikitavoloboev opened #44 "Add action to search selection in the profile that is currently active in Dash"
RIght now using this action is annoying because by default searching JS in Dash will search over many useless things like Gulp, jQuery and more

![2018-10-10 at 13 43](https://user-images.githubusercontent.com/6391776/46734110-8c8ad380-cc92-11e8-96c1-834e3b0f0bbb.png)

I would like to instead it to search over my currently active profile:

![2018-10-10 at 13 44](https://user-images.githubuserconte

[2018-10-10 12:28] deerawan commented on #43
@michaeljota I see, seems like we haven't added `angular` docset there in default settings.

[2018-10-10 12:43] deerawan commented on #44
Hi @nikitavoloboev,

I'm truly sorry for that. Is your active profile the Default one?

![image](https://user-images.githubusercontent.com/1243921/46736760-07201700-ccc4-11e8-9322-872d78cbf937.png)

For your case, we have some workarounds:

1. If it is Default profile, you can trigger search in all docsets, default shortcut is `ctrl + alt + h`.

2. Override the settings for `javascript` to search

[2018-10-10 12:45] deerawan commented on #19
Duplicate with https://github.com/deerawan/vscode-dash/issues/44

[2018-10-10 12:45] #19 closed

[2018-10-10 12:51] nikitavoloboev commented on #44
It isn't. I have many profiles.

![2018-10-10 at 14 51](https://user-images.githubusercontent.com/6391776/46737520-f8be0500-cc9b-11e8-90d5-e2a5a7654f61.png)

Will try your solution now. Thank you.

[2018-10-10 13:01] deerawan commented on #44
@nikitavoloboev gotcha.

Please try solution (1) by using `ctrl + alt + h`.  Hope it can solve your issue.

[2018-10-10 13:11] deerawan commented on #33
@nikitavoloboev

Got this answer from author of Dash

He also mentioned that there is a workaround for this issue by adding keyword `exact`. Will investigate this.

I also agree that it is not supposed to open other docset outside the configuration.

[2018-10-10 14:46] nikitavoloboev commented on #44
Thank you. That hotkey does what I needed. 🎊

[2018-10-10 14:46] #44 closed

[2019-02-20 20:30] dskoziol commented on #6
I had this same problem, and it ended up being my vscodevim.vim plugin that was interfering with the `ctrl-h` command.

[2019-02-24 20:25] NRKirby commented on #41
Should this be closed?

[2019-03-10 04:42] #41 closed

[2019-03-10 07:02] #33 closed

[2019-03-12 07:34] deerawan commented on #43
@michaeljota I'm afraid that we can't do that to match html tag `<router-outlet>` into angular class `RouterOutlet` in Dash.

[2019-03-12 07:34] #43 closed

[2019-03-19 10:50] nikitavoloboev commented on #33
This still fails for me @deerawan

My settings:

[code]

I go to `.ts` file and activate extension.

![2019-03-19 at 11 50](https://user-images.githubusercontent.com/6391776/54600493-3427e100-4a3d-11e9-83f3-14c754ceae66.png)

Result:

![2019-03-19 at 11 50](https://user-images.githubusercontent.com/6391776/54600519-3db14900-4a3d-11e9-8f37-7d932fb23702.png)

[2019-04-21 02:33] sowillwe opened #49 "Add portable edition support"
I am using a portable zeal and find it unable to search docs. A configuration of portable zeal(dash) path would be helpful.

[2019-04-26 13:58] nikitavoloboev commented on #33
@deerawan Any way to know why this happens? Did I do something wrong?

[2019-05-28 22:00] salembeats commented on #36
Merge my commit so you can close this out and I can get rid of my tweaked copy?

[2019-06-10 16:35] studoot opened #50 "Mark vscode-dash as 'ui' extension"
I've started using the VSCode remote extensions for WSL/Docker/SSH, which allow VSCode to run on the developer's computer, but target remote systems and execute certain extensions on the remote system.

It seems to me that Dash is probably one extension that should always be run on the computer running VScode. According to [this page](https://code.visualstudio.com/api/advanced-topics/remote-extens

[2019-06-19 22:17] deerawan commented on #50
Hi @studoot, thank you for letting me know this. I'll go through the page that you gave me then make necessary changes.

[2019-07-23 14:44] salembeats commented on #36
Close issue and merge contributor credit PR?

[2019-07-26 11:43] #50 closed

[2019-07-26 11:56] deerawan commented on #36
Implemented in https://github.com/deerawan/vscode-dash/pull/47. Thank you @salembeats!

[2019-07-26 11:56] #36 closed

[2019-07-26 22:45] deerawan opened #56 "Add compile in pre-push"
Add compile command in pre-push git hook.

[code]

[2019-08-03 23:52] #56 closed

[2019-08-13 06:49] deerawan opened #58 "Migrate to ESLint"
TSLint is deprecated in 2019 as mentioned in https://github.com/palantir/tslint/issues/4534

[2019-08-14 08:45] ozylog commented on #58
I can take this one

[2019-08-15 06:58] deerawan commented on #58
@ozylog Go ahead brother 👍

[2019-08-17 02:46] hqabcxyxz opened #60 "how to work with Velocity"
I have download velocity,and it work fine on my computer  ,but when I use this vscode-dash,it show that can not find program

[2019-08-17 11:55] #58 closed

[2019-08-22 04:53] deerawan commented on #60
Hi @hqabcxyxz could you give more information, please? what windows version? what velocity version? what vscode-dash version?

Thank you :)

[2019-08-25 03:54] hqabcxyxz commented on #60
System: win10 1903
Velocity:1.1.14
Vscode:1.36
Vscode:2.2.0

[2019-10-03 07:36] deerawan opened #61 "Add support for Kotlin"
Kotlin is supported now in VS Code

Extension link
https://marketplace.visualstudio.com/items?itemName=mathiasfrohlich.Kotlin

[2019-10-03 07:43] deerawan opened #62 "Add support for Arduino"
Arduino is now supported in vscode through language extension

marketplace extension
https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-arduino

[2019-10-03 07:44] deerawan opened #63 "Add support for Svelte"
Marketplace extension
https://marketplace.visualstudio.com/items?itemName=JamesBirtles.svelte-vscode

[2019-10-03 07:45] deerawan commented on #63
closed since no Dash documentation found

[2019-10-03 07:45] #63 closed

[2019-10-03 07:48] deerawan opened #64 "Add support for GraphQL"
Marketplace extension
https://marketplace.visualstudio.com/items?itemName=Prisma.vscode-graphql

[2019-10-05 07:23] #61 closed

[2019-10-06 21:46] Vojnuk opened #68 "Ctrl + H opens Zeal without requested query (Ctrl+Alt+H works)"
I'm working on Visual Studio Code 1.38.1 in Ubuntu 18.04.3 LTS. Here is a screenshot of the problem:

![pic](https://user-images.githubusercontent.com/23299859/66276279-c71d5100-e891-11e9-9303-be80ab2f29eb.png)

Looks like the problem is connected with this area.
![problem](https://user-images.githubusercontent.com/23299859/66276319-0cda1980-e892-11e9-8240-12fcf7d9e6fb.png)

If I delete all `exact

[2019-10-07 00:33] deerawan commented on #68
Hi @Vojnuk,

Could you check the settings of `Exact Docset` whether it is ticked or not? To disable this, make sure that it is unticked.

![image](https://user-images.githubusercontent.com/1243921/66278574-26ad4800-e8f6-11e9-9a23-0ead34a88bac.png)

Let me know if the problem still persists.

Thank you

[2019-10-07 01:16] Vojnuk commented on #68
It resolved a problem.

Thank you very much.

[2019-10-07 01:16] #68 closed

[2019-10-22 13:17] akdir commented on #62
I would like to add Arduino Support for this extension @deerawan. So I already looked at it and it seems like VSCode sees Arduino .ino file as a .cpp file, because the output of the `vscode.window.activeEditor.document.languageId` is `cpp` for `ino` files. That means you can add Arduino support by adding `arduino` as a key to the value `cpp` in the `package.json` file. But adding a new key/value p

[2019-10-23 04:18] deerawan commented on #62
Hi @akdir, just noticed your message. Thank you.

Let me do some investigation.

[2019-10-23 04:19] deerawan commented on #62
@akdir have you installed the extension https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-arduino? This is in order to detect the language ID correctly.

[2019-10-23 05:12] akdir commented on #62
@deerawan , Yes that is the first thing I did. That did not change the `vscode.window.activeEditor.document.languageId` output, it is still cpp for `ino` files. So I thought maybe VSCode sees ino files just as CPP files, because afterall the "programming language" Arduino is based on C/C++ but has some special functions to interact with Analog and Digital I/O.

[2019-10-23 18:53] akdir opened #69 "Add support for CMake files"
There is no support for CMake files for this extension, eventhough there is already a very good extension on VSCode Marketplace for it and it works really good.

Marketplace extension:
https://marketplace.visualstudio.com/items?itemName=twxs.cmake

[2019-10-23 18:55] akdir opened #70 "Add support for Latex"
There is no support for latex for this extension. Latex is used by alot of people and the extension on VSCode Marketplace is popular.

Marketplace extension:
https://marketplace.visualstudio.com/items?itemName=James-Yu.latex-workshop

[2019-10-23 18:56] akdir commented on #69
I use this extension quite alot of times and it is very useful @deerawan. I also like to code in CPP and use CMakefiles quite some time.

I would like to add support for CMake files for this extension if you let me do it @deerawan.

[2019-10-23 18:57] akdir commented on #70
I would also like to add Latex support for this extension @deerawan.

[2019-10-24 02:59] deerawan commented on #69
@akdir thanks for this. Go ahead 😄

[2019-10-24 03:02] deerawan commented on #62
interesting, maybe we can do the alternative way by detecting the filename https://github.com/deerawan/vscode-dash#file-name-to-docset-matching

[2019-10-24 03:06] deerawan commented on #70
@akdir Go ahead 👍

[2019-10-25 02:27] #62 closed

[2019-10-25 07:43] #69 closed

[2019-10-27 13:34] David-Else opened #74 "Add support for Zeal installed as Flatpak"
I switched to using Zeal as a flatpak and now vscode-dash no longer works when I press ctrl-h.

It needs to be called with `flatpak run org.zealdocs.Zeal/x86_64/stable`

Cheers!

[2019-11-03 01:10] #70 closed

[2019-11-09 04:19] deerawan opened #75 "Integrate code tooling like Codacity or SonarQube"

[2019-12-11 10:57] lada opened #79 "Add support for Dash 5"
The extension does not seem to work with the new version of Dash (5.0). The app opens, but the search field is empty.

[2019-12-11 23:54] deerawan commented on #79
@lada hey, thank you for raising the issue. I'll check its compatibility soon.

[2019-12-12 16:30] deerawan commented on #79
@lada I tried Dash 5 and it works, the search field is filled

<img width="1101" alt="Screen Shot 2019-12-13 at 03 26 58" src="https://user-images.githubusercontent.com/1243921/70730129-8857bb80-1d58-11ea-879f-13b8f199dc37.png">

could you give me more information?

[2019-12-12 21:59] lada commented on #79
@deerawan Thanks a lot for you feedback! I've reinstalled Dash and now it works fine. I don't know what happened, probably some problem with the update...

[2019-12-12 21:59] #79 closed

[2020-01-02 03:50] davidkwan95 commented on #1
can we just make so the keybinding is configurable? I encountered the problem with overlapping the replace command with this extension, and I don't want to change my keybind for replace since I've been using it for a long time.

[2020-01-21 20:36] martinandersen3d opened #80 "[Feature - Easy] Zeal Search: "language:searchword""
Windows + Zeal.

Zeal has a nice feature, try write "javascript:" in the search field, this will show only results from javascript and not from other languages.

In the extension, can you please detect what language the file is using, and send it to zeal?

Example:
in vscode editing a "user.js" file, and highlights/select a "document" word in the file, and executing this extension, will result in

[2020-01-27 10:47] kassi commented on #33
Doesn't work for me anymore, either. I'm pretty sure it worked before and without specifying any sort of language or file name map. Exact keyword doesn't change anything.

[2020-02-06 06:27] deerawan opened #81 "Support OCaml"
# VSCode Extension
https://marketplace.visualstudio.com/items?itemName=hackwaly.ocaml

# Dash Docset
![image](https://user-images.githubusercontent.com/1243921/73911395-e8f11800-4905-11ea-9b6c-17535abed347.png)

[2020-02-06 06:29] deerawan opened #82 "Support Gradle"
# VScode Extension
https://marketplace.visualstudio.com/items?itemName=naco-siren.gradle-language

# Dash Docsets
![image](https://user-images.githubusercontent.com/1243921/73911503-2b1a5980-4906-11ea-9f8e-cfa94260b802.png)

[2020-02-06 06:35] deerawan opened #83 "Support Haml"
# VSCode Extension
https://marketplace.visualstudio.com/items?itemName=karunamurti.haml

# Dash Docsets
![image](https://user-images.githubusercontent.com/1243921/73911827-11c5dd00-4907-11ea-9927-7c15a2b1720d.png)

[2020-02-06 10:29] deerawan commented on #80
Thank you @martinandersen3d!

The plugin has this feature for Dash on MacOS. Maybe the implementation is different with Zeal. I'll investigate.

[2020-03-03 08:18] #82 closed

[2020-03-11 16:07] ALAMoreira commented on #60
The same thing is happening to me. It works with Zeal but not with Velocity. I wanted it to work with Velocity because of the user contributed docsets which are missing from Zeal

System: Win10 1909
Velocity: 1.1.14
Vscode: 1.43.0
Vscode-dash: 2.3.0

[2020-04-11 06:38] deerawan commented on #83
Close this, it has been supported

[2020-04-11 06:38] #83 closed

[2020-04-20 19:02] lightcap opened #87 "Ctrl+h doesn't do anything"
All the keybindings seem to work as advertised, but ctrl+h doesn't do anything at all. That seems like the best feature too :-)

Trying the the shortcut in ruby and javascript files with the same results.

vscode-dash 2.4.0, VSCode 1.44.2, Dash 5.1.4

[2020-04-23 03:14] 1470391328 commented on #60
i  have the similiar problem ，it can not find program when you  use ‘ctrl+h',

[2020-04-23 03:19] 1470391328 commented on #87
![image](https://user-images.githubusercontent.com/33288114/80055448-3f104780-8554-11ea-9a40-2d7293c325d8.png)

[2020-05-11 10:29] mikeabackhouse commented on #60
+1 here

[2020-06-01 17:39] fwip commented on #87
https://github.com/deerawan/vscode-dash/issues/31 It might just be conflicting with a keybinding you already have, like ctrl-h from the vim mode extension. I changed mine to command-H and it seems to be working alright.

[2020-06-03 04:09] davidzhu1989 commented on #87
No, it didn't work. whatever command i changed.

[2020-07-18 03:38] davidtaylorjr opened #90 "Velocity Integration"
How do I set this to open Velocity docs?

[2020-07-20 11:55] deerawan commented on #90
@davidtaylorjr Hi David, currently, it is automatically configured based on OS ie. if you use Windows, it uses Velocity.

Do you have another use case?

[2020-07-20 17:32] davidtaylorjr commented on #90
I do have Velocity installed on Windows but it says the program can't be
found...

On Mon, Jul 20, 2020 at 6:55 AM Budi Irawan <notifications@github.com>
wrote:

[2020-07-21 03:47] davidtaylorjr commented on #90
I had to get a new pc today and insalled velocity fresh and it works fine. I am wondering if the fact I had zeal and uninstalled it on my other machine caused the issue...

[2020-07-21 03:47] #90 closed

[2020-07-24 13:21] zhang-xun commented on #5
you can Choose in top menu Code -> Preferences -> Keyboard Shortcuts or using shortcuts cmd + K, cmd + S,
find another vim shortcut (Ctrl+ H), delete it  , and you can  use the dash extension for vscode with vim plugins.

[2020-09-17 12:20] andreas-zeller opened #91 "Enable support for Zeal on macOS"
On a Mac with Zeal installed (but not Dash), Ctrl+H has no effect. This is because of "dash.js" only supporting Dash on macOS. To invoke "Zeal" on macOS, one needs the same options as on Linux, e.g.

[code]
Suggestion: Detect dynamically whether Dash or Zeal is installed, invoke one of them. Or have a setting to choose between them.

[2020-09-28 18:55] loren5555 commented on #60
I had the same problem. If you had installed zeal and uninstalled it. there will be something left in the reg.
![image](https://user-images.githubusercontent.com/57044094/94473585-f3e31a80-01fe-11eb-9348-b365b6ec33d1.png)
Change them to velocity and I solve the problem

[2020-12-23 17:11] David-Else commented on #74
Looks like it is not happening, hopefully the new Zeal will come out soon and I won't need to rely on the flatpak version.

[2020-12-23 17:11] #74 closed

[2021-01-13 16:38] oxy opened #92 "[Request] Publish extension on open-vsx.org"
Hi there!

I'm reaching out to you because we currently have your extension manually added to our extension gallery at Coder for [code-server](https://github.com/cdr/code-server/), and we're currently working on a migration to open-vsx, which is also used by other community VSCode forks (including, but not limited to Arch Linux's Code-OSS builds and VSCodium).

We (and other open source VSCode for

[2021-05-06 08:42] Layty opened #94 "search error"
![image](https://user-images.githubusercontent.com/14368090/117268428-d7d8e300-ae89-11eb-8d84-fa18d1bd4719.png)
I use zeal
when I use  ctrl +h
It shows    `exact:cpp,exact:net,exact:boost,exact:qt,exact:cvcpp,exact:cocos2dx,exact:c,exact:manpages:std::map`
but I just want to be `cpp:std::map`

[2021-08-17 15:56] masahorie opened #99 "[Issue] Dash doesn't start from VS Code Extension"
I actually have a problem with VS Code to use Dash.

I have Dash full version on my Mac and it doesn't have any problem to use. But the extension for VS Code doesn't work for some reason. I just installed the extension on VS Code but "control+H", "control+alt+H" and any others don't start Dash app.

Dash version: 6.0.7
VS Code version: 1.59.0
macOS version: 11.5.1

Please let me know what I should

[2021-08-27 19:39] Jacques2101 commented on #99
same problem as you !
Not sure I understand how Dash works
I just installed the extension and tried CRTL+H as I select one python  instruction (tried also cmd + h,...)
nothing happens.

[2021-09-11 07:34] PANDASANG1231 commented on #99
Actually the same as yours. I checked the shortcuts and I am pretty sure there isn't a conflict

[2021-10-17 06:12] EmberCraze opened #101 "Add dash to the Open VSX registry for open source users"
Current open source users of vscode and its forks cannot use the proprietary Microsoft marketplace and thus rely on the Open VSX registry/marketplace integrated with vscodium to install extensions.

Please add dash to Open VSX through https://github.com/eclipse/openvsx/wiki/Publishing-Extensions so that open source users can easily access and use the extension.

[2021-10-18 18:45] UmarJ commented on #101
Just came here to open an issue about this as well, but you beat me to it :)

[2021-12-14 14:39] johnbillion opened #102 "Automatically perform search when focusing Dash"
I recently upgraded from Dash 4 to Dash 6. When activating Dash via this extension with `ctrl+h` the search field is populated but the search is not performed until I press enter.

Is it possible to automatically submit the search when activating Dash via this extension?

[2022-01-04 15:21] GHSoCoder opened #103 "Getting Zeal working: Install location"
First an happy and succesfull year 2022,

yep, how I can get that extension working with Zeal. Zeal is installed in an non-standard location.

Many thanks and greetings
GHSoCoder

[2022-01-23 12:52] browneye1826 commented on #99
The actual Dash [app](https://kapeli.com/dash) needs to be installed locally for this to work.

[2022-01-25 00:03] Luminossus opened #104 "You'll need an app to open this dash plugin-link"
When trying to use shift+h:
![image](https://user-images.githubusercontent.com/98237553/150885610-c90959cf-03be-48f6-a1af-53c6388638f4.png)

[2022-02-19 07:45] zhuanghj commented on #60
I remove that in the reg, reinstall the dash plugin and Velociy, problem solved, many thanks.

[2022-03-04 21:42] fravemel opened #108 "dash error when ctrl+h hotkey (used to replace text)"
dash pops up an error window when ctrl+h hotkey (used to replace text).

![dash_error_ctlr_h](https://user-images.githubusercontent.com/18016854/156845344-2b05e4ca-398e-4f2b-8696-a600f7500f2c.JPG)

[2022-03-14 16:02] Patabugen commented on #103
I installed Zeal using [scoop](https://scoop.sh/) - which didn't register the "dash-plugin://" handler.

I've got mine to work by manually adding it to the registry (Actually I installed Zeal with the installer, checked what it did and exported it before uninstalling that version).

## Register the dash-plugin handler
Save this as `dash-zeal.reg` and run it to import the keys into your registry.

[2022-03-17 18:01] tracure1337 opened #109 "support for linux?"
The ext is only available in vscode macos and windows?

Or what am I doing wrong?

[2022-03-18 14:28] Twylixy commented on #104
@mycodesucksx2
You need to install Zeal, then configure it.
Download instructions here: https://zealdocs.org/download.html
Usage instructions here: https://zealdocs.org/usage.html
Then you can use dash extensions by Ctrl+H, but if you are using external libraries it will not provide anything, because this is offline docs, which you download and then use.

[2022-07-15 13:33] Realetive commented on #91
Any updates?

@andreas-zeller, is it possible to change local `OSOptions` manually?